Repository open-energy-transition/demandcast, changes with the labels that .github/labeler.yml gives for each.
All labels: Docs, GitHub Actions, Python

Added initial version of validate.py
  demandcast/config/validate_config.yaml
  demandcast/ml_models/xgboost.py
  demandcast/train.py
  demandcast/utils/ml.py
  demandcast/validate.py
Labels: Python

Added some refinements
  demandcast/utils/ml.py
  demandcast/validate.py
Labels: Python

Added separate ML configuration
  demandcast/assemble.py
  demandcast/config/directories_config.yaml
  demandcast/config/ml_config.yaml
  demandcast/config/train_config.yaml
  demandcast/config/validate_config.yaml
  demandcast/train.py
  demandcast/upload.py
  demandcast/utils/ml.py
  demandcast/utils/uploader.py
  demandcast/validate.py
Labels: Python

Added cross_validation.py
  demandcast/config/cross_validate_config.yaml
  demandcast/cross_validate.py
  demandcast/ml_models/xgboost.py
  demandcast/validate.py
Labels: Python

Refined code
  demandcast/cross_validate.py
  demandcast/train.py
  demandcast/utils/ml.py
  demandcast/validate.py
  models/xgboost/cross_validate.py
Labels: Python

Updated docker publishing action
  .github/workflows/docker-publish.yml
Labels: GitHub Actions

Removed old files
  models/xgboost/.dockerignore
  models/xgboost/.python-version
  models/xgboost/pyproject.toml
  models/xgboost/uv.lock
Labels: none

Added forecast.py script
  demandcast/config/forecast_config.yaml
  demandcast/config/ml_config.yaml
  demandcast/cross_validate.py
  demandcast/forecast.py
  demandcast/ml_models/xgboost.py
  demandcast/train.py
  demandcast/utils/ml.py
  demandcast/validate.py
Labels: Python

Fixed some errors
  .gitignore
  demandcast/config/directories_config.yaml
  demandcast/config/ml_config.yaml
  demandcast/config/xgboost_config.yaml
  demandcast/cross_validate.py
  demandcast/forecast.py
  demandcast/ml_models/xgboost.py
  demandcast/utils/ml.py
  demandcast/validate.py
Labels: Python

Refined assemple.py
  demandcast/assemble.py
Labels: Python

Fixed year in temperature file paths
  demandcast/assemble.py
Labels: Python

Fixed docstring
  demandcast/assemble.py
Labels: Python

Improved file seach funtion
  demandcast/assemble.py
Labels: Python

Added additional logging info
  demandcast/assemble.py
Labels: Python

Updated gitignore
  .gitignore
Labels: none

Refined scrips
  demandcast/assemble.py
  demandcast/forecast.py
Labels: Python

Added list of world countries
  demandcast/config/world_countries.yaml
  demandcast/utils/entities.py
Labels: Python

Refactored saving logic
  demandcast/forecast.py
  demandcast/utils/ml.py
  demandcast/validate.py
Labels: Python

Further improved saving logic and folders
  demandcast/config/directories_config.yaml
  demandcast/cross_validate.py
  demandcast/forecast.py
  demandcast/train.py
  demandcast/utils/ml.py
  demandcast/validate.py
Labels: Python

Typo
  demandcast/utils/ml.py
Labels: Python

Fixed file names
  demandcast/assemble.py
  demandcast/retrievals/annual_electricity_demand_per_capita.py
  demandcast/retrievals/temperature.py
Labels: Python

Implemented dask.dataframe
  demandcast/assemble.py
  demandcast/config/assemble_config.yaml
  demandcast/validate.py
Labels: Python

Minor improvements
  demandcast/retrievals/socio_economic_data_sources/world_bank.py
  demandcast/utils/scenarios.py
Labels: Python

Added list of available subdivisions
  demandcast/config/available_subdivisions.yaml
  demandcast/utils/entities.py
Labels: Python

Updated test_config.py
  demandcast/tests/test_config.py
  demandcast/tests/test_directories.py
Labels: Python

Updated test_entities.py
  demandcast/tests/test_entities.py
  demandcast/utils/entities.py
Labels: Python

Updated test_fetcher.py
  demandcast/tests/test_fetcher.py
Labels: Python

Updated test_scenarios.py
  demandcast/tests/test_scenarios.py
Labels: Python

Added test_ml.py
  demandcast/tests/test_ml.py
Labels: Python

Updated pytest workflow
  .github/workflows/ci.yml
Labels: GitHub Actions

Fixed CI
  .github/workflows/ci.yml
Labels: GitHub Actions

Fixed CI
  .github/workflows/ci.yml
Labels: GitHub Actions

Updated documentation
  README.md
  demandcast/retrievals/__init__.py
  demandcast/retrievals/electricity_demand_data_sources/__init__.py
  demandcast/retrievals/socio_economic_data_sources/__init__.py
  demandcast/tests/__init__.py
  demandcast/tests/test_config.py
  demandcast/tests/test_electricity_demand_retrievals.py
  demandcast/tests/test_entities.py
  demandcast/tests/test_figures.py
  demandcast/tests/test_geospatial.py
  demandcast/tests/test_ml.py
  demandcast/tests/test_scenarios.py
  demandcast/tests/test_time_series.py
  demandcast/tests/test_uploader.py
  demandcast/train.py
  demandcast/utils/config.py
  demandcast/utils/ml.py
  webpage/docs/Deployment/index.md
  webpage/docs/Dockerfile.md
  webpage/docs/ETL.md
  webpage/docs/ML.md
  webpage/docs/Models/index.md
  webpage/docs/Models/xgboost.md
  webpage/docs/getting_started.md
  webpage/docs/index.md
  webpage/docs/plot.md
  webpage/docs/retrieval.md
  webpage/mkdocs.yml
Labels: Docs, Python

Updated getting started guide
  demandcast/assemble.py
  webpage/docs/getting_started.md
Labels: Python

Formatting
  demandcast/assemble.py
Labels: Python

Fixed table
  README.md
  webpage/docs/index.md
Labels: Docs

Fixed table
  README.md
Labels: Docs

Updated check and plot scripts
  demandcast/check.py
  demandcast/config/check_config.yaml
  demandcast/config/plot_config.yaml
  demandcast/plot.py
  webpage/docs/plot.md
Labels: Python

Updated copilot instructions
  .github/copilot-instructions.md
Labels: GitHub Actions

Updated copilot instructions
  .github/copilot-instructions.md
Labels: GitHub Actions

.github/labeler.yml:

Docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/*
          - README.md

GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

Python:
  - changed-files:
      - any-glob-to-any-file: "**/*.py"
