Repository open-energy-transition/demandcast, changes with the labels that .github/labeler.yml gives for each.
All labels: Docs, GitHub Actions, Python

.github/labeler.yml:

Docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/*
          - README.md

GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

Python:
  - changed-files:
      - any-glob-to-any-file: "**/*.py"

Add electricity demand data for China (#75)
  ETL/figures/available_entities.png
  ETL/figures/available_entities_dark_mode.png
  ETL/figures/available_entities_light_mode.png
  ETL/retrievals/china.py
  ETL/retrievals/china.yaml
Labels: Python

Updated readme image, ETL -> Webpage
  webpage/docs/figures/available_entities_dark_mode.png
  webpage/docs/figures/available_entities_light_mode.png
Labels: none

Update data collection progress (#76)
  webpage/docs/figures/available_entities_dark_mode.png
  webpage/docs/figures/available_entities_light_mode.png
Labels: none

Restructured all other scripts and modules
  ETL/download_gdp_data.py
  ETL/retrievals/annual_electricity_demand_per_capita.py
  ETL/retrievals/electricity_demand.py
  ETL/retrievals/gdp_ppp_per_capita.py
  ETL/retrievals/population.py
  ETL/retrievals/temperature.py
  ETL/retrievals/weather.py
  ETL/retrieve.py
  ETL/tests/test_directories.py
  ETL/utils/directories.yaml
  ETL/utils/entities.py
Labels: Python

Deleted original scripts
  ETL/download_annual_electricity_data.py
  ETL/download_electricity_data.py
  ETL/download_gdp_data.py
  ETL/download_population_data.py
  ETL/download_weather_data.py
  ETL/download_weather_years.py
  ETL/get_temperature_data.py
  ETL/retrieve.py
Labels: Python

Documentation ETL pathing update
  webpage/docs/ETL.md
  webpage/mkdocs.yml
Labels: none

Added retrieval of future GDP data
  ETL/retrievals/gdp_ppp_per_capita.py
  ETL/retrieve.py
Labels: Python

Updated retrieval of future GDP data
  ETL/retrievals/gdp_ppp_per_capita.py
  ETL/retrieve.py
Labels: Python

Moved new retrieval modules to new folder
  ETL/retrievals/electricity_demand_data_sources/china.py
  ETL/retrievals/electricity_demand_data_sources/china.yaml
  ETL/retrievals/electricity_demand_data_sources/taipower.py
  ETL/retrievals/electricity_demand_data_sources/taipower.yaml
Labels: Python

Removed duplicated test module
  ETL/tests/test_electricity_demand_retrievals.py
Labels: Python

Renamed test module
  ETL/tests/test_electricity_demand_retrievals.py
Labels: Python

Updated test module
  ETL/tests/test_directories.py
Labels: Python

Fixed typo
  ETL/tests/test_electricity_demand_retrievals.py
Labels: Python

Fixed text style and figures on website
  README.md
  webpage/docs/figures/available_entities_dark_mode.png
  webpage/docs/figures/available_entities_light_mode.png
  webpage/docs/index.md
Labels: Docs

Updated population data retrieval script
  ETL/retrievals/gdp_ppp_per_capita.py
  ETL/retrievals/population.py
  ETL/retrieve.py
Labels: Python

Updated preprocessing and validation
  models/xgboost/XGBoost.ipynb
  models/xgboost/paper_preprocessing.ipynb
  models/xgboost/paper_training.ipynb
  models/xgboost/paper_visuals.ipynb
  models/xgboost/pyproject.toml
  models/xgboost/uv.lock
Labels: none

Preprocessing notebook
  models/xgboost/paper_model.ipynb
  models/xgboost/paper_preprocessing.ipynb
Labels: none

Cleaned preprocessing notebook
  models/xgboost/paper_preprocessing.ipynb
Labels: none

Model trained with MAPE values and visuals
  models/xgboost/XGBoost.ipynb
  models/xgboost/paper_model.ipynb
  models/xgboost/paper_visuals.ipynb
  models/xgboost/public/CA_AB_comparison.png
  models/xgboost/public/ES_comparison.png
  models/xgboost/public/paper_MAPE_values.csv
  models/xgboost/public/train_val_test_split.jpg
  models/xgboost/public/xgboost_model_2025_08_15.bin
  models/xgboost/public_figures/CH_cv_comparison.png
  models/xgboost/public_figures/FI_cv_comparison.png
  models/xgboost/public_figures/FR_cv_comparison.png
  models/xgboost/public_figures/HU_cv_comparison.png
  models/xgboost/public_figures/LK_cv_comparison.png
  models/xgboost/public_figures/SA_cv_comparison.png
  models/xgboost/public_figures/cv_mae_comparison.png
  models/xgboost/public_figures/cv_mae_per_country.png
  models/xgboost/public_figures/feature_importance.png
Labels: none

Cleaned notebooks
  models/xgboost/XGBoost.ipynb
  models/xgboost/paper_model.ipynb
  models/xgboost/paper_visuals.ipynb
Labels: none

Updated spacing
  models/xgboost/paper_model.ipynb
  models/xgboost/paper_visuals.ipynb
Labels: none

Update start date for electricity demand data retrieval to 2024-12-01
  ETL/retrievals/cammesa.py
  ETL/retrievals/cammesa.yaml
Labels: Python

Convert electricity demand values to float type
  ETL/retrievals/xm.py
Labels: Python

Add configurable timeout parameter to fetch_data function
  ETL/utils/fetcher.py
Labels: Python

Add timeout and retry delay parameters to data fetching
  ETL/retrievals/pucsl.py
Labels: Python

Formatting
  ETL/retrievals/pucsl.py
Labels: Python

New figure for paper
  models/xgboost/paper_visuals.ipynb
  models/xgboost/public/CA_AB_vs_ES_comparison.png
Labels: none

Additional variants of the figure
  models/xgboost/public/CA_AB_vs_ES_comparison_with_all_label.png
  models/xgboost/public/CA_AB_vs_ES_comparison_with_xlabel.png
Labels: none

Initial tentative for pre-download of data
  ETL/retrievals/gdp_ppp_per_capita.py
  ETL/retrievals/population.py
Labels: Python

Fixed coordinate issue for future population
  ETL/retrievals/population.py
Labels: Python

Rename directories for downloaded GDP and population
  ETL/retrievals/gdp_ppp_per_capita.py
  ETL/retrievals/population.py
Labels: Python

Renamed annual electricity demand retrieval module
  ETL/retrievals/annual_electricity_demand.py
  ETL/retrieve.py
Labels: Python

Created new module of utility functions for future data retrieval
  ETL/retrievals/gdp_ppp_per_capita.py
  ETL/retrievals/population.py
  ETL/utils/scenarios.py
Labels: Python

Modified annual electricity demand per capita retrieval module
  ETL/retrievals/annual_electricity_demand.py
  ETL/retrievals/annual_electricity_demand_per_capita.py
  ETL/retrieve.py
Labels: Python

Added IAM region mapping functionality
  ETL/utils/iam_region_mapping.yaml
  ETL/utils/scenarios.py
Labels: Python

Fix variable name for annual electricity demand retrieval
  ETL/retrieve.py
Labels: Python

Updated annual electricity demand retrieval module and harmonized some other modules
  ETL/retrievals/annual_electricity_demand_per_capita.py
  ETL/retrievals/gdp_ppp_per_capita.py
  ETL/retrievals/population.py
  ETL/retrieve.py
  ETL/utils/iam_region_mapping.yaml
  ETL/utils/scenarios.py
  ETL/utils/time_series.py
Labels: Python

Polished modules
  ETL/retrievals/annual_electricity_demand_per_capita.py
  ETL/retrievals/gdp_ppp_per_capita.py
  ETL/retrievals/population.py
Labels: Python

Updated folder names for manual downloads
  ETL/retrievals/electricity_demand_data_sources/epias.py
  ETL/retrievals/electricity_demand_data_sources/eskom.py
  ETL/retrievals/electricity_demand_data_sources/krogd.py
  ETL/retrievals/electricity_demand_data_sources/niti.py
  ETL/retrievals/electricity_demand_data_sources/ntdc.py
  ETL/tests/test_directories.py
  ETL/utils/directories.yaml
Labels: Python

Updated directory parameter naming
  ETL/retrievals/population.py
Labels: Python
