Repository open-energy-transition/demandcast, changes with the labels that .github/labeler.yml gives for each.
All labels: Docs, GitHub Actions, Python

.github/labeler.yml:

Docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/*
          - README.md

GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

Python:
  - changed-files:
      - any-glob-to-any-file: "**/*.py"

Added option to download multiple years simultaneously
  ETL/retrievals/gridded_population.py
  ETL/retrievals/gridded_weather.py
  ETL/utils/scenarios.py
Labels: Python

Improved data availability summary
  ETL/checks/data_availability.py
  ETL/checks/data_availability_summary.csv
  ETL/retrievals/socio_economic_data_sources/imf.py
Labels: Python

Additional package pyyaml
  models/xgboost/pyproject.toml
  models/xgboost/uv.lock
Labels: none

Final push (1) for v1.0
  .gitignore
  models/xgboost/config/default_config.yaml
  models/xgboost/cross_validate.py
  models/xgboost/evaluate.py
  models/xgboost/predict.py
  models/xgboost/preprocess.py
  models/xgboost/train.py
  models/xgboost/utils_xgb/__init__.py
  models/xgboost/utils_xgb/data_loader.py
  models/xgboost/utils_xgb/feature_engineering.py
  models/xgboost/utils_xgb/model_utils.py
  models/xgboost/utils_xgb/utils.py
Labels: Python

Added missing package
  ETL/pyproject.toml
  ETL/uv.lock
Labels: none

Remove extra documentation link from README
  README.md
Labels: Docs

Final push (2) - Docs
  webpage/docs/Models/xgboost.md
Labels: none

Final push (2.1) - linting
  webpage/docs/Models/xgboost.md
Labels: none

Added initial changes to documentation
  README.md
  webpage/docs/getting_started.md
  webpage/docs/index.md
  webpage/mkdocs.yml
Labels: Docs

Added ETL getting started commands
  webpage/docs/getting_started.md
Labels: none

Typo
  webpage/docs/getting_started.md
Labels: none

Added getting started commands for the ML models
  webpage/docs/getting_started.md
Labels: none

Improved documentation
  webpage/docs/getting_started.md
Labels: none

Final push (3)
  models/xgboost/preprocess.py
  models/xgboost/utils_xgb/data_loader.py
Labels: Python

Final push (3.1)
  models/xgboost/utils_xgb/data_loader.py
  models/xgboost/utils_xgb/feature_engineering.py
Labels: Python

Added example
  webpage/docs/figures/testing_example.png
  webpage/docs/getting_started.md
Labels: none

Final push (3.2) - linting
  models/xgboost/utils_xgb/data_loader.py
  models/xgboost/utils_xgb/feature_engineering.py
Labels: Python

Implemented suggested changes
  webpage/docs/figures/testing_example.png
  webpage/docs/getting_started.md
Labels: none

Feature + Documentation: Minor improvements and extended getting started guide (#100)
  ETL/checks/data_availability.py
  ETL/checks/data_availability_summary.csv
  ETL/pyproject.toml
  ETL/retrievals/gridded_population.py
  ETL/retrievals/gridded_weather.py
  ETL/retrievals/socio_economic_data_sources/imf.py
  ETL/utils/scenarios.py
  ETL/uv.lock
  README.md
  webpage/docs/figures/testing_example.png
  webpage/docs/getting_started.md
  webpage/docs/index.md
  webpage/mkdocs.yml
Labels: Docs, Python

ML CLI (#99)
  .gitignore
  models/xgboost/config/default_config.yaml
  models/xgboost/cross_validate.py
  models/xgboost/evaluate.py
  models/xgboost/predict.py
  models/xgboost/preprocess.py
  models/xgboost/pyproject.toml
  models/xgboost/train.py
  models/xgboost/utils_xgb/__init__.py
  models/xgboost/utils_xgb/data_loader.py
  models/xgboost/utils_xgb/feature_engineering.py
  models/xgboost/utils_xgb/model_utils.py
  models/xgboost/utils_xgb/utils.py
  models/xgboost/uv.lock
  webpage/docs/Models/xgboost.md
Labels: Python

Updated name in pyproject
  demandcast/pyproject.toml
  demandcast/uv.lock
Labels: none

Removed unnecessary links
  demandcast/README.md
  models/README.md
Labels: none

Merged and updated single pyproject
  demandcast/pyproject.toml
  demandcast/uv.lock
Labels: none

Initial update of assemble.py
  models/xgboost/Dockerfile
  models/xgboost/assemble.py
Labels: Python

Initial use of config files
  demandcast/checks/data_availability.py
  demandcast/config/directories_config.yaml
  demandcast/config/retrieve_config.yaml
  demandcast/config/upload_config.yaml
  demandcast/figures/ml_results.py
  demandcast/plot.py
  demandcast/pyproject.toml
  demandcast/retrievals/annual_electricity_demand_per_capita.py
  demandcast/retrievals/electricity_demand.py
  demandcast/retrievals/electricity_demand_data_sources/eia.py
  demandcast/retrievals/electricity_demand_data_sources/entsoe.py
  demandcast/retrievals/electricity_demand_data_sources/epias.py
  demandcast/retrievals/electricity_demand_data_sources/eskom.py
  demandcast/retrievals/electricity_demand_data_sources/krogd.py
  demandcast/retrievals/electricity_demand_data_sources/niti.py
  demandcast/retrievals/electricity_demand_data_sources/ntdc.py
  demandcast/retrievals/gdp_ppp_per_capita.py
  demandcast/retrievals/gridded_gdp_ppp.py
  demandcast/retrievals/gridded_population.py
  demandcast/retrievals/gridded_weather.py
  demandcast/retrievals/population.py
  demandcast/retrievals/temperature.py
  demandcast/retrieve.py
  demandcast/tests/test_directories.py
  demandcast/tests/test_entities.py
  demandcast/tests/test_figures.py
  demandcast/tests/test_geospatial.py
  demandcast/tests/test_uploader.py
  demandcast/utils/config.py
  demandcast/utils/directories.py
  demandcast/utils/entities.py
  demandcast/utils/figures.py
  demandcast/utils/geospatial.py
  demandcast/utils/shapes.py
  demandcast/utils/uploader.py
  demandcast/uv.lock
  models/xgboost/assemble.py
Labels: Python

Added upload.py script
  demandcast/config/upload_config.yaml
  demandcast/retrievals/electricity_demand.py
  demandcast/upload.py
Labels: Python

Added warning to Zenodo upload
  demandcast/config/directories_config.yaml
  demandcast/config/oet_zenodo_metadata.yaml
  demandcast/upload.py
Labels: Python

Minor fixes
  demandcast/retrieve.py
Labels: Python

Refactored ML data preprossessing
  demandcast/assemble.py
  demandcast/config/assemble_config.yaml
  demandcast/config/directories_config.yaml
  demandcast/retrievals/annual_electricity_demand_per_capita.py
  demandcast/retrievals/gdp_ppp_per_capita.py
  demandcast/retrievals/population.py
  demandcast/retrievals/temperature.py
  demandcast/retrieve.py
  demandcast/upload.py
  demandcast/utils/config.py
  demandcast/utils/entities.py
  models/xgboost/assemble.py
  models/xgboost/utils_xgb/data_loader.py
Labels: Python

Refined assemble.py
  demandcast/assemble.py
Labels: Python

Fixed typo
  demandcast/assemble.py
  demandcast/config/assemble_config.yaml
Labels: Python

Formatting
  demandcast/assemble.py
Labels: Python

Added option to specify year range
  demandcast/assemble.py
  demandcast/config/assemble_config.yaml
Labels: Python

Added initial version of train.py
  demandcast/config/directories_config.yaml
  demandcast/config/train_config.yaml
  demandcast/ml_models/__init__.py
  demandcast/ml_models/xgboost.py
  demandcast/ml_models/xgboost.yaml
  demandcast/train.py
  models/xgboost/train.py
Labels: Python

Updated package to fix error
  demandcast/uv.lock
Labels: none

Fixed some errors
  demandcast/assemble.py
  demandcast/config/directories_config.yaml
  demandcast/ml_models/xgboost.py
  demandcast/train.py
Labels: Python

Refined scripts with additional logging
  demandcast/assemble.py
  demandcast/config/train_config.yaml
  demandcast/ml_models/xgboost.py
  demandcast/retrieve.py
  demandcast/train.py
  demandcast/upload.py
Labels: Python

Fixed typo
  demandcast/retrieve.py
Labels: Python

Added folders to gitignore
  .gitignore
Labels: none

Fixed resampling
  demandcast/assemble.py
  demandcast/config/retrieve_config.yaml
Labels: Python
