Repository open-energy-transition/demandcast, changes with the labels that .github/labeler.yml gives for each.
All labels: Docs, GitHub Actions, Python

.github/labeler.yml:

Docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/*
          - README.md

GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

Python:
  - changed-files:
      - any-glob-to-any-file: "**/*.py"

Updated copilot instructions
  .github/copilot-instructions.md
Labels: GitHub Actions

Revise data sources section and add global forecasts
  README.md
Labels: Docs

Fix typo in README regarding forecasts
  README.md
Labels: Docs

Revise data sources and add global forecast dataset section
  webpage/docs/index.md
Labels: none

Fix TOC link in README.md
  README.md
Labels: Docs

Documentation: Add Zenodo link and fix typos (#107)
  README.md
  webpage/docs/index.md
Labels: Docs

Enhance repository structure documentation
  .github/copilot-instructions.md
Labels: GitHub Actions

Add Copilot onboarding instructions for demandcast repository (#92)
  .github/copilot-instructions.md
Labels: GitHub Actions

Potential fix for code scanning alert no. 4: Clear-text logging of sensitive information
  demandcast/utils/fetcher.py
Labels: Python

Formatting
  demandcast/utils/fetcher.py
Labels: Python

Potential fix for code scanning alert no. 4: Clear-text logging of sensitive information (#114)
  demandcast/utils/fetcher.py
Labels: Python

Potential fix for code scanning alert no. 2: Workflow does not contain permissions
  .github/workflows/ci.yml
Labels: GitHub Actions

Potential fix for code scanning alert no. 2: Workflow does not contain permissions (#125)
  .github/workflows/ci.yml
Labels: GitHub Actions

Fix for File is not always closed
  demandcast/checks/data_availability.py
Labels: Python

Fix for File is not always closed (#126)
  demandcast/checks/data_availability.py
Labels: Python

Harden fetcher defaults and align retry/doc messaging (#127)
  demandcast/tests/test_fetcher.py
  demandcast/utils/fetcher.py
Labels: Python

Formatting
  demandcast/retrievals/electricity_demand_data_sources/nea.py
Labels: Python

Refine NEA retrieval module wording and replace date/time magic numbers (#128)
  demandcast/retrievals/electricity_demand_data_sources/nea.py
Labels: Python

Refined motivation section
  webpage/docs/ML.md
Labels: none

Clarify XGBoost docs semantics and fix groupby notebook naming typo (#129)
  demandcast/archive/xgboost/model_groupby_income.ipynb
  webpage/docs/ML.md
Labels: none

Formatting
  webpage/mkdocs.yml
Labels: none

Align MkDocs repository metadata and clarify favicon asset path (#130)
  webpage/mkdocs.yml
Labels: none

Update video presentation link in README
  README.md
Labels: Docs

Update video presentation link in README (#131)
  README.md
Labels: Docs

feat: add LSTM algorithm as alternative forecasting model (#133)
  demandcast/config/lstm_config.yaml
  demandcast/cross_validate.py
  demandcast/forecast.py
  demandcast/ml_models/lstm.py
  demandcast/pyproject.toml
  demandcast/tests/conftest.py
  demandcast/tests/test_lstm.py
  demandcast/tests/test_ml.py
  demandcast/train.py
  demandcast/utils/ml.py
  demandcast/uv.lock
  demandcast/validate.py
  webpage/docs/ML.md
Labels: Python

Fix UTF-8 encoding on YAML config reads; add benchmark pipeline scripts
  demandcast/benchmark_retrieve.ps1
  demandcast/benchmark_retrieve_resume.ps1
  demandcast/config/benchmark_assemble.yaml
  demandcast/config/benchmark_codes.yaml
  demandcast/config/benchmark_retrieve_annual_elec.yaml
  demandcast/config/benchmark_retrieve_electricity.yaml
  demandcast/config/benchmark_retrieve_gdp.yaml
  demandcast/config/benchmark_retrieve_population.yaml
  demandcast/config/benchmark_retrieve_temperature.yaml
  demandcast/utils/config.py
  demandcast/utils/entities.py
  demandcast/utils/ml.py
  demandcast/utils/uploader.py
Labels: Python

Add . to gitignore
  .gitignore
Labels: none

docs: add LSTM benchmark results against XGBoost (DNK/AUT/PRT 2021-2023)
  webpage/docs/ML.md
Labels: none

fix: resolve pre-commit lint errors in lstm.py and tests
  .gitignore
  demandcast/ml_models/lstm.py
  demandcast/tests/conftest.py
  demandcast/tests/test_lstm.py
  demandcast/tests/test_ml.py
  demandcast/utils/config.py
Labels: Python

fix: address PR #135 review from eantonini
  demandcast/benchmark_retrieve.ps1
  demandcast/benchmark_retrieve_resume.ps1
  demandcast/cross_validate.py
  demandcast/ml_models/lstm.py
  demandcast/pyproject.toml
  demandcast/tests/conftest.py
  demandcast/tests/test_cross_validate.py
  demandcast/tests/test_torch_windows.py
  demandcast/utils/torch_windows.py
  demandcast/uv.lock
Labels: Python

add ukpn data centre profile for further dc demand modelling
  .gitignore
  demandcast/config/assemble_config.yaml
  demandcast/config/forecast_config.yaml
  demandcast/config/retrieve_config.yaml
  demandcast/config/train_config.yaml
  demandcast/retrievals/electricity_demand_data_sources/ukpn_data_centres.py
Labels: Python

fixes in retrievals, forecast, and assemble scripts
  demandcast/assemble.py
  demandcast/forecast.py
  demandcast/pyproject.toml
  demandcast/retrievals/electricity_demand.py
  demandcast/retrieve.py
  demandcast/uv.lock
Labels: Python

add PHL DC hourly demand profile from UKPN's normalised shape
  demandcast/retrievals/README_data_centre_demand.md
  demandcast/retrievals/electricity_demand_data_sources/phl_data_centre_demand.py
  demandcast/retrievals/electricity_demand_data_sources/ukpn_data_centres.py
Labels: Python

change the weight of entreprise to 0
  demandcast/retrievals/electricity_demand_data_sources/phl_data_centre_demand.py
Labels: Python

feat: add LSTM as optional forecasting algorithm (#133) (#135)
  .gitignore
  demandcast/benchmark_retrieve.ps1
  demandcast/benchmark_retrieve_resume.ps1
  demandcast/config/benchmark_assemble.yaml
  demandcast/config/benchmark_codes.yaml
  demandcast/config/benchmark_retrieve_annual_elec.yaml
  demandcast/config/benchmark_retrieve_electricity.yaml
  demandcast/config/benchmark_retrieve_gdp.yaml
  demandcast/config/benchmark_retrieve_population.yaml
  demandcast/config/benchmark_retrieve_temperature.yaml
  demandcast/config/lstm_config.yaml
  demandcast/cross_validate.py
  demandcast/forecast.py
  demandcast/ml_models/lstm.py
  demandcast/pyproject.toml
  demandcast/tests/conftest.py
  demandcast/tests/test_cross_validate.py
  demandcast/tests/test_lstm.py
  demandcast/tests/test_ml.py
  demandcast/tests/test_torch_windows.py
  demandcast/train.py
  demandcast/utils/config.py
  demandcast/utils/entities.py
  demandcast/utils/ml.py
  demandcast/utils/torch_windows.py
  demandcast/utils/uploader.py
  demandcast/uv.lock
  demandcast/validate.py
  webpage/docs/ML.md
Labels: Python

Run LSTM tests in CI and configure Dependabot
  .github/copilot-instructions.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  README.md
  webpage/docs/index.md
Labels: Docs, GitHub Actions

Run LSTM tests in CI and configure Dependabot (#152)
  .github/copilot-instructions.md
  .github/dependabot.yml
  .github/workflows/ci.yml
  README.md
  webpage/docs/index.md
Labels: Docs, GitHub Actions

Fix pandas 3 incompatibilities
  demandcast/assemble.py
  demandcast/figures/data_availability.py
  demandcast/retrievals/electricity_demand_data_sources/cenace.py
  demandcast/retrievals/electricity_demand_data_sources/wu_et_al.py
  demandcast/utils/geospatial.py
Labels: Python

docs: add contributor guidelines and community files
  .editorconfig
  .gitattributes
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/5_new_data_source.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/copilot-instructions.md
  .github/release.yml
  AGENTS.md
  CITATION.cff
  CLAUDE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  security.md
  webpage/docs/index.md
Labels: Docs, GitHub Actions

docs: refresh issue templates
  .github/ISSUE_TEMPLATE/1_bug_report.yml
  .github/ISSUE_TEMPLATE/2_feature_request.yml
  .github/ISSUE_TEMPLATE/4_new_data_source.yml
  .github/ISSUE_TEMPLATE/4_question.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: GitHub Actions
