Repository open-energy-transition/demandcast, changes with the labels that .github/labeler.yml gives for each.
All labels: Docs, GitHub Actions, Python

Add paper news
  README.md
Labels: Docs

Docker build command and corrections
  ETL/.dockerignore
  webpage/docs/Dockerfile.md
  webpage/docs/Models/xgboost.md
Labels: none

Docs update - ml + docker (#94)
  ETL/.dockerignore
  README.md
  webpage/docs/Dockerfile.md
  webpage/docs/Models/xgboost.md
  webpage/mkdocs.yml
Labels: Docs

Added feature roadmap
  README.md
  webpage/docs/index.md
Labels: Docs

Documentation: Add feature roadmap (#95)
  README.md
  webpage/docs/index.md
Labels: Docs

Modified data retrieval files for Uruguay
  ETL/retrievals/electricity_demand_data_sources/adme.py
  ETL/retrievals/electricity_demand_data_sources/adme.yaml
Labels: Python

Fixed some bugs in data retrieval scripts
  ETL/retrievals/electricity_demand_data_sources/aeso.py
  ETL/run_all.sh
  ETL/utils/fetcher.py
Labels: Python

Fixed warning wiith cpi library
  ETL/retrievals/socio_economic_data_sources/iiasa.py
Labels: Python

Added Uruguay to run_all.sh
  ETL/run_all.sh
Labels: none

Add electricity demand data for Uruguay (#90)
  ETL/retrievals/electricity_demand_data_sources/adme.py
  ETL/retrievals/electricity_demand_data_sources/adme.yaml
Labels: Python

Added scripts to retrieve Nepali demand
  ETL/pyproject.toml
  ETL/retrievals/electricity_demand_data_sources/nea.py
  ETL/retrievals/electricity_demand_data_sources/nea.yaml
  ETL/uv.lock
Labels: Python

Formatting
  ETL/retrievals/electricity_demand_data_sources/nea.py
  ETL/retrievals/electricity_demand_data_sources/nea.yaml
Labels: Python

Updated maps
  ETL/figures/available_entities.png
  ETL/figures/available_entities_dark_mode.png
  ETL/figures/available_entities_for_aed.png
  ETL/figures/available_entities_light_mode.png
  webpage/docs/figures/available_entities_dark_mode.png
  webpage/docs/figures/available_entities_light_mode.png
Labels: none

Fixed typo
  ETL/retrievals/electricity_demand_data_sources/nea.py
Labels: Python

Added Nepal to run_all.sh
  ETL/run_all.sh
Labels: none

Data: Add data retrieval scripts for Nepali demand (#97)
  ETL/figures/available_entities.png
  ETL/figures/available_entities_dark_mode.png
  ETL/figures/available_entities_for_aed.png
  ETL/figures/available_entities_light_mode.png
  ETL/pyproject.toml
  ETL/retrievals/electricity_demand_data_sources/nea.py
  ETL/retrievals/electricity_demand_data_sources/nea.yaml
  ETL/uv.lock
  webpage/docs/figures/available_entities_dark_mode.png
  webpage/docs/figures/available_entities_light_mode.png
Labels: Python

Added link to GCS bucket
  README.md
  webpage/docs/index.md
Labels: Docs

Added init file in models folder
  demandcast/models/__init__.py
Labels: Python

Updated dependencies
  demandcast/uv.lock
Labels: none

Added missing module netcdf4
  demandcast/pyproject.toml
  demandcast/uv.lock
Labels: none

Fixed gdp and population data retrieval
  demandcast/retrievals/gdp_ppp_per_capita.py
  demandcast/retrievals/population.py
  demandcast/utils/scenarios.py
Labels: Python

Added dask to dependencies
  demandcast/pyproject.toml
  demandcast/uv.lock
Labels: none

Add .DS_Store to .gitignore
  .gitignore
Labels: none

Updated data availability summary
  demandcast/checks/data_availability_summary.csv
Labels: none

Fixed issues with shapes extending to +/-180deg latitude
  demandcast/retrievals/gridded_weather.py
  demandcast/utils/geospatial.py
  demandcast/utils/shapes.py
Labels: Python

Deleted init file
  models/__init__.py
Labels: Python

Formatting
  .gitignore
  ETL/utils/scenarios.py
Labels: Python

Updated tests
  ETL/tests/test_entities.py
  ETL/tests/test_scenarios.py
  ETL/tests/test_shapes.py
  ETL/utils/scenarios.py
Labels: Python

Fix: Minor bugs in electricity data retrieval (#96)
  ETL/retrievals/electricity_demand_data_sources/aeso.py
  ETL/retrievals/socio_economic_data_sources/iiasa.py
  ETL/run_all.sh
  ETL/utils/fetcher.py
  README.md
  webpage/docs/index.md
Labels: Docs, Python

Updated uv.lock
  ETL/uv.lock
Labels: none

Fixed incorrect argument
  ETL/utils/geospatial.py
Labels: Python

Updated bucket name
  README.md
  webpage/docs/index.md
Labels: Docs

Fixed temperature averaging issue
  ETL/retrievals/temperature.py
Labels: Python

Added direct link to GCS
  README.md
  webpage/docs/index.md
Labels: Docs

Added NeurIPS link
  README.md
Labels: Docs

Fixed bug for Bungladesh in 2009
  ETL/retrievals/temperature.py
Labels: Python

Fixed minor bugs in retrieval of future data
  ETL/retrievals/annual_electricity_demand_per_capita.py
  ETL/retrievals/socio_economic_data_sources/iiasa.py
Labels: Python

Fixed bug with data out of range
  ETL/retrievals/socio_economic_data_sources/iiasa.py
Labels: Python

Added link to google form and reordered contents
  README.md
  webpage/docs/index.md
Labels: Docs

Fix: Minor bugs in weather and socioeconomic data retrieval (#98)
  .gitignore
  ETL/checks/data_availability_summary.csv
  ETL/pyproject.toml
  ETL/retrievals/annual_electricity_demand_per_capita.py
  ETL/retrievals/gdp_ppp_per_capita.py
  ETL/retrievals/gridded_weather.py
  ETL/retrievals/population.py
  ETL/retrievals/socio_economic_data_sources/iiasa.py
  ETL/retrievals/temperature.py
  ETL/tests/test_entities.py
  ETL/tests/test_scenarios.py
  ETL/tests/test_shapes.py
  ETL/utils/geospatial.py
  ETL/utils/scenarios.py
  ETL/utils/shapes.py
  ETL/uv.lock
  README.md
  webpage/docs/index.md
Labels: Docs, Python

.github/labeler.yml:

Docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/*
          - README.md

GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

Python:
  - changed-files:
      - any-glob-to-any-file: "**/*.py"
