Repository open-energy-transition/demandcast, changes with the labels that .github/labeler.yml gives for each.
All labels: Docs, GitHub Actions, Python

.github/labeler.yml:

Docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/*
          - README.md

GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

Python:
  - changed-files:
      - any-glob-to-any-file: "**/*.py"

Update krogd.py
  ETL/retrievals/krogd.py
Labels: Python

Added data retrieval files for Philippines
  ETL/download_electricity_data.py
  ETL/retrievals/ngcp.py
  ETL/retrievals/ngcp.yaml
Labels: Python

Modified ngcp.py
  ETL/retrievals/ngcp.py
Labels: Python

Feature: Tests with 100% coverage (#58)
  .github/workflows/ci.yml
  ETL/pyproject.toml
  ETL/shapes/cenace.py
  ETL/shapes/eia.py
  ETL/shapes/neso.py
  ETL/shapes/tepco.py
  ETL/tests/test_directories.py
  ETL/tests/test_entities.py
  ETL/tests/test_fetcher.py
  ETL/tests/test_figures.py
  ETL/tests/test_geospatial.py
  ETL/tests/test_shapes.py
  ETL/tests/test_time_series.py
  ETL/tests/test_uploader.py
  ETL/utils/entities.py
  ETL/utils/fetcher.py
  ETL/utils/geospatial.py
  ETL/utils/shapes.py
  ETL/uv.lock
  pyproject.toml
Labels: GitHub Actions, Python

Added unit tests for retrievals module
  ETL/tests/test_retrievals.py
  ETL/tests/test_shapes.py
Labels: Python

Modified krogd.py
  ETL/retrievals/krogd.py
Labels: Python

Modified krogd.py
  ETL/retrievals/krogd.py
Labels: Python

Add electricity demand data for South Korea (#72)
  ETL/download_electricity_data.py
  ETL/figures/available_entities.png
  ETL/figures/available_entities_dark_mode.png
  ETL/figures/available_entities_light_mode.png
  ETL/retrievals/krogd.py
  ETL/retrievals/krogd.yaml
Labels: Python

Fixed typo
  README.md
Labels: Docs

Fixed typo
  webpage/docs/index.md
Labels: none

Fixed typo
  README.md
Labels: Docs

Fixed typo
  webpage/docs/index.md
Labels: none

Fixed figure name
  webpage/docs/figures/demandcast_illustration.png
Labels: none

Fixed typo
  webpage/docs/index.md
Labels: none

Fixed typo
  README.md
Labels: Docs

Modified ngcp.py
  ETL/retrievals/ngcp.py
Labels: Python

Added china.yaml file
  ETL/download_electricity_data.py
  ETL/retrievals/china.yaml
Labels: Python

Modified ngcp.py
  ETL/retrievals/ngcp.py
Labels: Python

Modified ngcp.py
  ETL/retrievals/ngcp.py
Labels: Python

Modified eskom.yaml
  ETL/retrievals/eskom.yaml
Labels: none

Modified files to clear mypy error
  ETL/retrievals/ngcp.py
  ETL/utils/fetcher.py
Labels: Python

Modified file to remove ruff error
  ETL/retrievals/ngcp.py
Labels: Python

Add electricity demand data for Philippines (#74)
  ETL/download_electricity_data.py
  ETL/retrievals/eskom.yaml
  ETL/retrievals/ngcp.py
  ETL/retrievals/ngcp.yaml
  ETL/utils/fetcher.py
Labels: Python

Updated pytest step in CI workflow
  .github/workflows/ci.yml
Labels: GitHub Actions

Removed development container configuration from project structure
  README.md
  webpage/docs/index.md
Labels: Docs

Update pytest command in README.md
  README.md
  webpage/docs/index.md
Labels: Docs

Moved documentation link in README.md
  README.md
Labels: Docs

Changed description is repository structure
  README.md
  webpage/docs/index.md
Labels: Docs

Clarified package manager instructions
  README.md
  webpage/docs/index.md
Labels: Docs

Updated package description and formatted
  ETL/download_electricity_data.py
  ETL/electricity_demand/__init__.py
  ETL/utils/copernicus.py
  ETL/utils/entities.py
Labels: Python

Restructured gdp module
  ETL/download_electricity_data.py
  ETL/download_gdp_data.py
  ETL/retrievals/electricity_demand.py
  ETL/retrievals/gdp.py
Labels: Python

Restructured population module
  ETL/download_population_data.py
  ETL/retrievals/population.py
Labels: Python

Added china.py
  ETL/retrievals/china.py
  ETL/retrievals/china.yaml
Labels: Python

Restructured weather module
  ETL/download_weather_data.py
  ETL/download_weather_years.py
  ETL/retrievals/weather.py
Labels: Python

Modified taipower.py to retrieval data from Zenodo source only
  ETL/retrievals/taipower.py
Labels: Python

Added maps of covered countries
  ETL/figures/available_entities.png
  ETL/figures/available_entities_dark_mode.png
  ETL/figures/available_entities_light_mode.png
Labels: none

Modified fetcher.py
  ETL/utils/fetcher.py
Labels: Python

Clean and fix code, and improve documentation (#71)
  .devcontainer/devcontainer.json
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  .github/workflows/docs.yml
  .pre-commit-config.yaml
  ETL/.dockerignore
  ETL/.python-version
  ETL/Dockerfile
  ETL/download_electricity_data.py
  ETL/pyproject.toml
  ETL/retrievals/ntdc.py
  ETL/tests/test_entities.py
  ETL/tests/test_retrievals.py
  ETL/tests/test_shapes.py
  ETL/utils/entities.py
  ETL/uv.lock
  docs/index.md
  models/xgboost/.dockerignore
  models/xgboost/.python-version
  models/xgboost/Dockerfile
  pyproject.toml
  webpage/.python-version
  webpage/docs/Deployment/index.md
  webpage/docs/ETL/ETL.md
  webpage/docs/Models/index.md
  webpage/docs/Models/xgboost.md
  webpage/docs/figures/available_entities_dark_mode.png
  webpage/docs/figures/available_entities_light_mode.png
  webpage/docs/figures/be_logo.png
  webpage/docs/figures/demandcast_illustration.png
  webpage/docs/figures/lightning_logo.svg
  webpage/docs/figures/oet_logo.png
  webpage/docs/index.md
  webpage/mkdocs.yml
  webpage/pyproject.toml
  webpage/uv.lock
Labels: Docs, GitHub Actions, Python

Modified file to remove format error
  ETL/download_electricity_data.py
Labels: Python

Data: Add electricity demand data for Taiwan (#67)
  ETL/figures/available_entities.png
  ETL/figures/available_entities_dark_mode.png
  ETL/figures/available_entities_light_mode.png
  ETL/retrievals/taipower.py
  ETL/retrievals/taipower.yaml
  ETL/utils/fetcher.py
Labels: Python
