Repository open-energy-transition/demandcast, changes with the labels that .github/labeler.yml gives for each.
All labels: Docs, GitHub Actions, Python

.github/labeler.yml:

Docs:
  - changed-files:
      - any-glob-to-any-file:
          - docs/*
          - README.md

GitHub Actions:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"

Python:
  - changed-files:
      - any-glob-to-any-file: "**/*.py"

Improved the final shape of the Kansai region
  ETL/retrievals/kansaitd.yaml
  ETL/shapes/kansaitd.py
Labels: Python

Simplified the demand retrieval module
  ETL/retrievals/kansaitd.py
Labels: Python

Added global maps
  ETL/figures/available_entities.png
  ETL/figures/available_entities_dark_mode.png
  ETL/figures/available_entities_light_mode.png
  ETL/shapes/kansaitd/kansaitd.dbf
  ETL/shapes/kansaitd/kansaitd.shp
  ETL/shapes/kansaitd/kansaitd.shx
Labels: none

Moved Bangladesh data retrieval to correct folder
  ETL/retrievals/electricity_demand_data_sources/pgcb.py
  ETL/retrievals/electricity_demand_data_sources/pgcb.yaml
Labels: Python

Changed some remaining ISO alpha-2 codes
  ETL/retrievals/electricity_demand_data_sources/aemo_wem.py
  ETL/retrievals/electricity_demand_data_sources/bchydro.py
  ETL/retrievals/electricity_demand_data_sources/ccei.py
  ETL/retrievals/electricity_demand_data_sources/ema.yaml
  ETL/retrievals/electricity_demand_data_sources/ieso.py
  ETL/retrievals/electricity_demand_data_sources/nbpower.py
  ETL/retrievals/electricity_demand_data_sources/thailand.yaml
Labels: Python

Added cpi package
  ETL/pyproject.toml
  ETL/uv.lock
Labels: none

Fixed made_by_oet argument
  ETL/retrieve.py
Labels: Python

Fixed some other ISO alpha-2 codes and improved module names
  ETL/retrievals/electricity_demand_data_sources/cammesa.py
  ETL/retrievals/electricity_demand_data_sources/cen.py
  ETL/retrievals/electricity_demand_data_sources/cnd.py
  ETL/retrievals/electricity_demand_data_sources/cnd.yaml
  ETL/retrievals/electricity_demand_data_sources/coes.py
  ETL/retrievals/electricity_demand_data_sources/egat.py
  ETL/retrievals/electricity_demand_data_sources/egat.yaml
  ETL/retrievals/electricity_demand_data_sources/ema.py
  ETL/retrievals/electricity_demand_data_sources/emi.py
  ETL/retrievals/electricity_demand_data_sources/krogd.py
  ETL/retrievals/electricity_demand_data_sources/neso.py
  ETL/retrievals/electricity_demand_data_sources/ngcp.py
  ETL/retrievals/electricity_demand_data_sources/niti.py
  ETL/retrievals/electricity_demand_data_sources/oluwole_et_al.py
  ETL/retrievals/electricity_demand_data_sources/oluwole_et_al.yaml
  ETL/retrievals/electricity_demand_data_sources/pucsl.py
  ETL/retrievals/electricity_demand_data_sources/taipower.py
  ETL/retrievals/electricity_demand_data_sources/tepco.py
  ETL/retrievals/electricity_demand_data_sources/tsoc.py
  ETL/retrievals/electricity_demand_data_sources/wu_et_al.py
  ETL/retrievals/electricity_demand_data_sources/wu_et_al.yaml
  ETL/retrievals/electricity_demand_data_sources/xm.py
Labels: Python

Fixed run_all.sh
  ETL/run_all.sh
Labels: none

Added data retrieval files for CostaRica
  ETL/retrievals/grupoice.py
  ETL/retrievals/grupoice.yaml
Labels: Python

Fixed some additional bugs
  ETL/retrievals/electricity_demand_data_sources/aemo_nem.py
  ETL/retrievals/electricity_demand_data_sources/aemo_wem.py
  ETL/retrievals/electricity_demand_data_sources/aeso.py
  ETL/retrievals/electricity_demand_data_sources/bchydro.py
  ETL/retrievals/electricity_demand_data_sources/cammesa.py
  ETL/retrievals/electricity_demand_data_sources/ccei.py
  ETL/retrievals/electricity_demand_data_sources/cen.py
  ETL/retrievals/electricity_demand_data_sources/cenace.py
  ETL/retrievals/electricity_demand_data_sources/cnd.py
  ETL/retrievals/electricity_demand_data_sources/coes.py
  ETL/retrievals/electricity_demand_data_sources/egat.py
  ETL/retrievals/electricity_demand_data_sources/egat.yaml
  ETL/retrievals/electricity_demand_data_sources/eia.py
  ETL/retrievals/electricity_demand_data_sources/ema.py
  ETL/retrievals/electricity_demand_data_sources/emi.py
  ETL/retrievals/electricity_demand_data_sources/entsoe.py
  ETL/retrievals/electricity_demand_data_sources/epias.py
  ETL/retrievals/electricity_demand_data_sources/eskom.py
  ETL/retrievals/electricity_demand_data_sources/hydroquebec.py
  ETL/retrievals/electricity_demand_data_sources/ieso.py
  ETL/retrievals/electricity_demand_data_sources/krogd.py
  ETL/retrievals/electricity_demand_data_sources/nbpower.py
  ETL/retrievals/electricity_demand_data_sources/neso.py
  ETL/retrievals/electricity_demand_data_sources/ngcp.py
  ETL/retrievals/electricity_demand_data_sources/niti.py
  ETL/retrievals/electricity_demand_data_sources/ntdc.py
  ETL/retrievals/electricity_demand_data_sources/oluwole_et_al.py
  ETL/retrievals/electricity_demand_data_sources/ons.py
  ETL/retrievals/electricity_demand_data_sources/pucsl.py
  ETL/retrievals/electricity_demand_data_sources/sonelgaz.py
  ETL/retrievals/electricity_demand_data_sources/taipower.py
  ETL/retrievals/electricity_demand_data_sources/tepco.py
  ETL/retrievals/electricity_demand_data_sources/tsoc.py
  ETL/retrievals/electricity_demand_data_sources/wu_et_al.py
  ETL/retrievals/electricity_demand_data_sources/xm.py
  ETL/run_all.sh
Labels: Python

Add electricity demand data for Japan Kansai area (#85)
  ETL/figures/available_entities.png
  ETL/figures/available_entities_dark_mode.png
  ETL/figures/available_entities_light_mode.png
  ETL/retrievals/kansaitd.py
  ETL/retrievals/kansaitd.yaml
  ETL/retrievals/pgcb.py
  ETL/shapes/kansaitd.py
  ETL/shapes/kansaitd/kansaitd.cpg
  ETL/shapes/kansaitd/kansaitd.dbf
  ETL/shapes/kansaitd/kansaitd.prj
  ETL/shapes/kansaitd/kansaitd.shp
  ETL/shapes/kansaitd/kansaitd.shx
Labels: Python

Added box and whiskers plots
  ETL/figures/ml_results.py
Labels: Python

Added box and whiskers plots to all figures
  ETL/figures/ml_results.py
Labels: Python

Updated mape directory
  ETL/figures/ml_results.py
Labels: Python

Added sample results and figures
  ETL/figures/mape_example1.png
  ETL/figures/mape_example1_by_continent.png
  ETL/figures/mape_example1_by_income.png
  ETL/figures/mape_example1_vs_example2.png
  ETL/figures/ml_results.py
  ETL/mapes/example1/AF.csv
  ETL/mapes/example1/AS.csv
  ETL/mapes/example1/EU.csv
  ETL/mapes/example1/NA.csv
  ETL/mapes/example1/OC.csv
  ETL/mapes/example1/SA.csv
  ETL/mapes/example1/all.csv
  ETL/mapes/example1/high_income.csv
  ETL/mapes/example1/lower_middle_income.csv
  ETL/mapes/example1/upper_middle_income.csv
  ETL/mapes/example2/all.csv
Labels: Python

Modified grupoice.py
  ETL/retrievals/grupoice.py
Labels: Python

Add electricity demand data for CostaRica (#88)
  ETL/retrievals/grupoice.py
  ETL/retrievals/grupoice.yaml
Labels: Python

Added data retrieval files for California
  ETL/retrievals/caiso.py
  ETL/retrievals/caiso.yaml
Labels: Python

Updated documentation
  webpage/docs/ETL.md
  webpage/docs/Figures.md
  webpage/mkdocs.yml
Labels: none

Formatting
  webpage/docs/Figures.md
Labels: none

Modified to sync with the latest changes in the repo
  ETL/retrievals/electricity_demand_data_sources/caiso.py
  ETL/retrievals/electricity_demand_data_sources/caiso.yaml
Labels: Python

Simplified retrieval script
  ETL/retrievals/electricity_demand_data_sources/caiso.py
Labels: Python

Fixed error in entities.py
  ETL/figures/available_entities.png
  ETL/figures/available_entities_dark_mode.png
  ETL/figures/available_entities_for_aed.png
  ETL/figures/available_entities_light_mode.png
  ETL/utils/entities.py
Labels: Python

Fixed typo
  ETL/utils/entities.py
Labels: Python

Potential fix for pull request finding 'Variable defined multiple times'
  ETL/retrievals/electricity_demand_data_sources/caiso.py
Labels: Python

Feature: Validation figures (#87)
  ETL/figures/mape_example1.png
  ETL/figures/mape_example1_by_continent.png
  ETL/figures/mape_example1_by_income.png
  ETL/figures/mape_example1_vs_example2.png
  ETL/figures/ml_results.py
  ETL/mapes/example1/AF.csv
  ETL/mapes/example1/AS.csv
  ETL/mapes/example1/EU.csv
  ETL/mapes/example1/NA.csv
  ETL/mapes/example1/OC.csv
  ETL/mapes/example1/SA.csv
  ETL/mapes/example1/all.csv
  ETL/mapes/example1/high_income.csv
  ETL/mapes/example1/lower_middle_income.csv
  ETL/mapes/example1/upper_middle_income.csv
  ETL/mapes/example2/all.csv
  ETL/plot.py
  ETL/pyproject.toml
  ETL/uv.lock
  webpage/docs/ETL.md
  webpage/docs/Figures.md
  webpage/mkdocs.yml
Labels: Python

Add electricity demand data for California region in United States (#89)
  ETL/figures/available_entities.png
  ETL/figures/available_entities_dark_mode.png
  ETL/figures/available_entities_for_aed.png
  ETL/figures/available_entities_light_mode.png
  ETL/retrievals/electricity_demand_data_sources/caiso.py
  ETL/retrievals/electricity_demand_data_sources/caiso.yaml
  ETL/utils/entities.py
Labels: Python

Added data retrieval files for Uruguay
  ETL/retrievals/electricity_demand_data_sources/adme.py
  ETL/retrievals/electricity_demand_data_sources/adme.yaml
Labels: Python

Dockerfile explaination
  webpage/docs/Dockerfile.md
  webpage/mkdocs.yml
Labels: none

Fixed typo in figure
  ETL/figures/draw_sample_figures.py
  ETL/figures/sample_validation.png
Labels: Python

Update figures
  webpage/docs/figures/available_entities_dark_mode.png
  webpage/docs/figures/available_entities_light_mode.png
  webpage/docs/figures/demandcast_illustration.png
Labels: none

Added table of data sources
  README.md
Labels: Docs

Updated references in table
  README.md
Labels: Docs

Updated data sources table in README.md
  README.md
Labels: Docs

Updated website index.md
  webpage/docs/index.md
Labels: none

Typo
  webpage/docs/index.md
Labels: none

Fix: Update figures (#91)
  webpage/docs/figures/available_entities_dark_mode.png
  webpage/docs/figures/available_entities_light_mode.png
  webpage/docs/figures/demandcast_illustration.png
Labels: none

Documentation: Add data sources table (#93)
  README.md
  webpage/docs/index.md
Labels: Docs

ML documentation
  webpage/docs/Dockerfile.md
  webpage/docs/Models/xgboost.md
  webpage/mkdocs.yml
Labels: none
