Repository open-energy-transition/demandcast, pull requests merged in 2025-05, with the labels that each got.

#42 Data: Add electricity demand data for New Zealand
  ETL/download_electricity_data.py
  ETL/retrieval/emi.py
  ETL/retrieval/emi.yaml
Labels: Python

#47 Documentation update
  README.md
  docs/BE_logo.png
  docs/index.md
Labels: Docs

#50 Data: Add electricity demand data for Turkey
  ETL/download_electricity_data.py
  ETL/retrieval/epias.py
  ETL/retrieval/epias.yaml
  ETL/util/time_series.py
Labels: Python

#44 Data: Add annual electricity demand data retrieval
  ETL/download_annual_electricity_data.py
  ETL/download_electricity_data.py
  ETL/util/directories.yaml
  ETL/util/entities.py
Labels: Docs, Python
