Repository open-energy-transition/demandcast, pull requests merged in 2025-06, with the labels that each got.

#41 Feature: Train and run an XGBoost model
  .gitignore
  .pre-commit-config.yaml
  models/xgboost/XGBoost.ipynb
  models/xgboost/inference.py
  models/xgboost/inference/xgboost_model.bin
  models/xgboost/public_figures/CH_cv_comparison.png
  models/xgboost/public_figures/FI_cv_comparison.png
  models/xgboost/public_figures/FR_cv_comparison.png
  models/xgboost/public_figures/HU_cv_comparison.png
  models/xgboost/public_figures/LK_cv_comparison.png
  models/xgboost/public_figures/SA_cv_comparison.png
  models/xgboost/public_figures/cv_mae_comparison.png
  models/xgboost/public_figures/cv_mae_per_country.png
  models/xgboost/public_figures/feature_importance.png
  models/xgboost/pyproject.toml
  models/xgboost/serve.py
  models/xgboost/uv.lock
  uv.lock
Labels: Python

#49 Introduce Docker workflow
  .github/workflows/ci.yml
  .github/workflows/docker-publish.yml
  Dockerfile
  ETL/pyproject.toml
  ETL/uv.lock
  pyproject.toml
  uv.lock
Labels: GitHub Actions

#51 Analysis: Data availability by GDP and annual electricity demand
  .gitignore
  ETL/draw_data_availability.py
  ETL/figures/data_availability_by_gpd_and_electricity_demand.png
  ETL/pyproject.toml
  ETL/util/entities.py
  ETL/uv.lock
Labels: Python

#60 Documentation: Update repository name
  .github/ISSUE_TEMPLATE/1_bug_report.yml
  .github/ISSUE_TEMPLATE/2_feature_request.yml
  .github/ISSUE_TEMPLATE/4_question.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
  ETL/README.md
  ETL/download_electricity_data.py
  ETL/pyproject.toml
  ETL/run_all.sh
  ETL/utils/uploader.py
  README.md
  docs/ETL/ETL.md
  docs/index.md
  mkdocs.yml
  models/README.md
  models/xgboost/serve.py
  pyproject.toml
  uv.lock
Labels: Docs, Python, GitHub Actions

#63 Alternative method to download weather data per year
  ETL/download_annual_electricity_data.py
  ETL/download_electricity_data.py
  ETL/download_gdp_data.py
  ETL/download_population_data.py
  ETL/download_weather_data.py
  ETL/download_weather_years.py
  ETL/draw_data_availability.py
  ETL/get_temperature_data.py
  ETL/utils/entities.py
  ETL/utils/geospatial.py
  ETL/utils/time_series.py
Labels: Python

#65 Data: Add electricity demand data for Sri Lanka
  ETL/download_electricity_data.py
  ETL/retrievals/pucsl.py
  ETL/retrievals/pucsl.yaml
Labels: Python
